#head{
    .container{
        height:60px;
        border-bottom:2px solid #ccc;
        padding-top:16px;
    }
}
#main{
    .container{
        
        height:540px;
        width:1120px;
        padding-top:46px;
        padding-right:80px;
        .tishi{
            font-size:12px;
        }
        .maint{
            width:1100px; 
            height:36px;  
        }
        .main_t{
            height:36px;
            width:402px;
            float: right;
            border-bottom:2px solid #961D22;
            margin-right:18px;
        }
        .main_t span:nth-child(1){
            line-height: 36px;
            font-size:20px;
            color:#bbb;
        }
        .main_t span:nth-child(2){
            float: right;
            line-height:36px;
            font-size:14px;
        }
        .main_cl{
            margin: 16px 0 0 130px;
        }
        .main_cr{
            width: 401px;
            height:410px;
            background:#fff;
            border:1px solid #ccc;
            margin-top:6px;
            margin-bottom: 20px;
            margin-right:37px;
            .denglu{
                width:402px;
                height:36px;
                background:#961D22;
                color:#fff;
                font-size:14px;
                text-align: center;
                line-height:36px;
            }
            .import{
                width:380px;
                height:210px;
                padding-top:30px;
                padding-left:20px;
                #username{
                    width:350px;
                    height:43px;
                    border:1px solid #ccc;
                    padding-left:10px;
                    
                }
                #password{
                    width:350px;
                    height:43px;
                    border:1px solid #ccc;
                    padding-left:10px;
                    margin-top:20px;
                }
                .dl{
                    width:360px;
                    height:75px;
                    padding-right:20px;
                    margin-top:14px;
//                  margin-bottom: 30px;
                }
                span{
                    display: inline-block;
                    margin-bottom: 6px;
                }
                .btn{
                    width:360px;
                    height:45px;
                    background:#961D22;
                    float: right;
                    text-align: center;
                    line-height:45px;
                    color:#fff;
                }
            }
            .tupian{
                margin-top:20px;
            }
        }
    }
       
}
