#main{
    .container{
		.active{border:1px solid #961D22 !important;}
        margin-top:30px;
        .home{
            height:22px;
            font-size:12px;
            color:#000;
            span{
                margin:0 8px;
            }
        }
        .bignames{
            width:1200px;
            height:80px;
            .names{
                width:1200px;
                height:46px;
                border-bottom:1px solid #ccc;
                line-height: 46px;
                h2{
                    font-size:18px;
                    margin-left:20px;
                    font-weight:bold;
                    float: left;
                }
                span{
                    font-size:14px;
                    color:#B81B22;
                    margin-left:10px;
                }
            }
        }
        .product{
            width:465px;
            height:45px;
            li{
                float: left;
                font-size:15px;
                font-weight:bold;
                margin-left:10px;
                color:#000;
            }
        }
        .tupian{
            width:640px;
            height:430px;
            position:relative;
            .min{
                width:74px;
                height:449px;
                display:inline-block;
                float: left;
                li{
                    margin-top:11px;
                    border:1px solid #ccc;
                    padding:1px;
                }
            }
            .max{
                width:400px;
                height:400px;
                margin:10px 80px 0 80px;
                float: left;
                padding:1px;
                border:1px solid #bbb;
                position:relative;
                .max_ul {
                    height:400px;
                }
                .max_ul li{
                    position:absolute;
                }
            }
            .fangdajing{
                width:400px;
                height:400px;
                border:1px solid #ccc;
                position:absolute;
                left:560px;
                top:12px;
                display:none;
                overflow: hidden;

            }
        }
        .xuanzhe{
            width:560px;
            height:374px;
            margin-top:10px;
            
            .price{
                font-size:14px;
                color:#B81C22;
                
                span{
                    font-weight: bold;
                    font-size:20px;
                }
                a{
                    margin-left:14px;
                    color:#B81C22;
                }
            }
            .color{
                width:561px;
                height:60px;
                margin-top:20px;
                .color2{
                    float: left;
                    display:inline-block;
                    line-height:30px;
                    font-size:12px;
                }
                .color3{
                    display:inline-block;
                    margin-left:10px;
                    
                    ul{
                        display:inline-block;
                        li{
                            float: left;
                            width:92px;
                            height:42px;
                            padding-left:2px;
                            margin:0 8px 8px 0;
                            border:1px solid #ccc;
                            line-height: 38px;
                            font-size:12px;
                            .active{border:1px solid #961D22;}
                            span{
                                width:36px;
                                height:36px;
                                display:inline-block;
                                margin-right:3px;
                                img{
                                    width:38px;
                                    height:38px;
                                    
                                }
                            }
                        }
                    }
                }
                
            }
            .size{
                width:516px;
                height:32px;
                float: left;
                p{
                    display:inline-block;
                    float: left;
                    font-size:12px;
//                  line-height:28px;
                }
                li{
                    display:inline-block;
                    float: left;
                    padding:2px 7px;
                    border:1px solid #ccc;
                    margin-left:5px;
                    font-size:12px;
                }
            }
            .goodsnum{
                float: left;
                width:516px;
                height:35px;
                margin-top:10px;
                p{
                    display:inline-block;
                    font-size:12px;
                }
                #select{
                    width:40px;
                }
            }
            .yixuan{
                width:400px;
                height:22px;
                p{
                    display:inline-block;
                    font-size:12px;
                }
                span{
                    font-size:14px;
                    color:#961D22;
                    margin-right:10px;
                }
            }
            .shop{
                width:350px;
                height:40px;
                margin-top:24px;
                margin-bottom:15px;
                a{
                    display:inline-block;
                    width:160px;
                    height:34px;
                    border:1px solid #961D22;
                    float: left;
                    text-align: center;
                    line-height:32px;
                    font-size:14px;
                    margin-right:8px;
                    color:red;
                }
                a:nth-child(1){
                    background:pink;
                    color:#961D22;
                }
                a:nth-child(2){
                    background:#B81B22;
                    color:#fff;
                }
               
            }
               
        }
       
        
        
        
    }
}
 #tujie{
     .container{
         margin-top:30px;
         .size2{
            width:1200px;
            height:150px;
            text-align: center;
            line-height:150px;
            border-top:1px solid #ccc;
            font-size:30px;
            font-weight: bold;
        }
     }
}