#head .container { width: 980px; height: 60px; margin-top: 15px; border-bottom: 1px solid #ccc; }

#head .container img { margin-left: 40px; }

#head .container .fr { font-size: 14px; color: red; line-height: 80px; margin-right: 40px; }

#nav .container { width: 980px; margin-top: 10px; }

#nav .container .car { height: 40px; }

#nav .container .tishi { font-size: 14px; color: #000; height: 36px; }

#nav .container .tishi > span { color: red; }

#car .container { width: 980px; height: 300px; }

#car .container thead { width: 980px; height: 40px; }
