#head .container { width: 980px; height: 60px; margin-top: 15px; border-bottom: 1px solid #ccc; }

#head .container img { margin-left: 40px; }

#head .container .fr { font-size: 14px; color: red; line-height: 80px; margin-right: 40px; }

#nav .container { width: 980px; margin-top: 10px; }

#nav .container .car { height: 40px; }

#nav .container .tishi { font-size: 14px; color: #000; height: 36px; }

#nav .container .tishi > span { color: red; }

#car .container { width: 980px; height: 250px; }

#car .container .car_ul { width: 980px; height: 40px; background: #CCCCCC; }

#car .container .car_ul li { display: inline-block; line-height: 40px; margin: 0 20px; font-size: 14px; }

#car .container .car_ul li input { margin: 0 10px; }

#car .container .car_ul li span { margin: 140px; }

#car .container .car_goods { min-height: 50px; border: 1px solid #ccc; padding: 20px; background: #fff; }

#car .container .car_goods li { height: 70px; background: #F8F8F8; line-height: 70px; font-size: 12px; }

#car .container .car_goods li .car_6 input { width: 22px; height: 20px; margin: 0 2px; padding-left: 2px; text-align: center; }

#car .container .car_goods li span { margin-left: 16px; display: inline-block; float: left; }

#car .container .car_goods li .car_3 { width: 200px; font-size: 12px; margin: 25px 40px; line-height: 14px; margin-right: 140px; }

#car .container .car_goods li .car_5 { width: 80px; height: 70px; text-align: center; margin-left: 25px; }

#car .container .car_goods li .car_6 { margin-left: 4px; }

#car .container .car_goods li .car_7 { margin: 0 35px; }

#car .container .car_goods li .car_9 { margin-left: 54px; }

#car .container .car_price { width: 922px; height: 100px; background: papayawhip; border: 1px solid #f60; margin-top: 10px; padding: 14px 42px 0 13px; }

#car .container .car_price .car_option { width: 968px; height: 39px; font-size: 14px; }

#car .container .car_price .car_option div { display: inline-block; }

#car .container .car_price .car_option span { margin: 0 10px; }

#car .container .price { width: 270px; height: 50px; padding-left: 5px; float: left; font-size: 14px; }

#car .container .price span { font-weight: bold; font-size: 18px; color: red; }

#car .container .close { float: right; }

footer .container { width: 980px; margin: 0 auto; }
